.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.settings {
  display: flex;
  flex-direction: row;
  max-width: 960px;
  width: 100%;
  .column {
    //width: auto;
    padding: 1rem 1rem 0 1rem;
  }
  .c1 {
    flex-grow: 1;
  }
  .c2 {
    flex-grow: 3;
  }
}

mat-list {
  padding-top: 0 !important;
  margin-bottom: 12px;
  a {
    cursor: pointer;
  }
}

mat-divider {
  margin: 1rem 0;
}

.setting-button {
  //font-size: 16px;
  //min-width: 160px;
  // text-align: left;
}

@media screen and (max-width: 599px){
  .settings {
    flex-wrap: wrap;
  }
}

.drop {
  height: 150px;
  // border: 2px dashed red;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  mat-icon {
    height: 40px;
    width: 40px;
    font-size: 40px;
  }
}

mat-radio-button {
  display: block;
  margin-bottom: 1rem;
  padding-left: 1rem;
}
