@import '~@angular/material/theming';

@mixin settings-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .settings {
    a {
      color: mat-color($foreground, text);
    }

    .error {
      color: mat-color($warn);
    }

  }

}
