<div class="wrapper">
  <div class="settings">
    <div class="column c1">
      <h3 class="secondary-text">Library</h3>
      <mat-list>
        <mat-list-item class="hover" *ngFor="let folder of settings.libraryFolders">
          <mat-icon mat-list-icon>folder_open</mat-icon>
          <span matLine>{{folder}}</span>
          <button mat-button mat-icon-button (click)="removeFolderDialog(folder)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-list-item>
        <a mat-list-item class="hover" tabindex="0" (click)="addFolderDialog()">
          <mat-icon mat-list-icon>create_new_folder</mat-icon>
          <span matLine>Add a new folder</span>
        </a>
        <a mat-list-item class="hover" tabindex="0" (click)="requestLibraryScan()">
          <mat-icon mat-list-icon>sync</mat-icon>
          <span matLine>Scan Library</span>
        </a>
      </mat-list>
      <mat-divider></mat-divider>
      <h3 class="secondary-text">Upload</h3>
      <p>
        Drag and drop files in the zone below to upload them to the server.<br>
        Click it to choose files to upload from the explorer.
      </p>
      <input #file type='file' accept=".mp3" multiple style="display: none" (change)="addFiles($event.target.files)"/>
      <div class="drop hover-background" (click)="file.click()">
        <button mat-button mat-icon-button *ngIf="files.length == 0">
          <mat-icon>file_upload</mat-icon>
        </button>
        <div *ngFor="let file of files" class="file">
          <span>{{file.name}}</span>
          <span>{{file.size | sgFileSize}}</span>
        </div>
      </div>
      <div class="upload-actions">
        <button mat-button [disabled]="files.length == 0">
          Upload files
        </button>
        <button mat-button (click)="cancel()" [disabled]="files.length == 0">
          Cancel
        </button>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div class="column c2">
      <h3 class="secondary-text">Themes</h3>
      <p>
        <mat-radio-group>
          <mat-radio-button *ngFor="let theme of settings.themes"
                            [value]="theme.cssClass"
                            [checked]="settings.currentTheme == theme"
                            (change)="settings.changeTheme(theme)">
            {{theme.name}}
          </mat-radio-button>
        </mat-radio-group>
      </p>
      <mat-divider></mat-divider>
      <h3 class="secondary-text">Misc</h3>
      <p>
        <button mat-button (click)="httpSocketClient.isSocketOpen() ? httpSocketClient.closeSocket() : httpSocketClient.openSocket()">
          <mat-icon>{{httpSocketClient.isSocketOpen() ? 'radio_button_checked' : 'radio_button_unchecked'}}</mat-icon>
          <span>WebSocket</span>
        </button>
      </p>
      <p>
        <mat-slide-toggle>Watch library folders</mat-slide-toggle>
      </p>
      <p>
        <mat-slide-toggle>Misc 1</mat-slide-toggle>
      </p>
      <p>
        <mat-slide-toggle>Misc 2</mat-slide-toggle>
      </p>
      <p>
        <mat-slide-toggle>Misc 3</mat-slide-toggle>
      </p>
      <mat-divider></mat-divider>
    </div>
  </div>
</div>
