.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-left: 50px;
}

.settings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 960px;
  width: 100%;
  .column {
    //width: auto;
    max-width: 100%;
    padding: 1rem 1rem 0 1rem;
  }
  .c1 {
    flex-grow: 1;
  }
  .c2 {
    flex-grow: 1;
  }
}

@media screen and (max-width: 599px){
  .settings {
    // flex-wrap: wrap;
    .c2 {
      padding-top: 0;
    }
  }
}

mat-list {
  padding-top: 0 !important;
  margin-bottom: 12px;
  a {
    cursor: pointer;
  }
  .mat-menu-item {
    padding-left: 20px;
  }
}

mat-divider {
  margin: 1rem 0;
}

.drop {
  padding: 1rem;
  min-height: 150px;
  //border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  user-select: none;
  &.empty {
    justify-content: space-around;
  }
  button {
    padding: 5px;
    box-sizing: content-box;
  }
  button, mat-icon  {
    height: 40px;
    width: 40px;
    font-size: 40px;
    line-height: 40px;
  }
  mat-icon {
    position: relative;
    top: -4px;
  }
  .file {
    display: flex;
    width: 100%;
    mat-progress-bar {
      width: auto;
    }
    .name {
      flex-grow: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 50%;
      overflow: hidden;
    }
    .progress {
      flex-grow: 1;
      margin: 8px 8px 0 8px;
    }
    .size {
      flex-grow: 0;
      min-width: 60px;
      text-align: right;
    }
  }
}

.upload-actions {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

mat-radio-button {
  display: block;
  margin-bottom: 1rem;
  padding-left: 1rem;
}
