<div class="wrapper">
  <div class="settings">
    <div class="column c1">
      <h3 class="secondary-text">Library</h3>
      <app-library-folders [folders]="libraryFolders$ | async"
                           (addFolder)="addFolderDialog()"
                           (removeFolder)="removeFolderDialog($event)"
                           (scanRequest)="requestLibraryScan()">
      </app-library-folders>
      <mat-divider></mat-divider>

      <h3 class="secondary-text">Upload</h3>
      <app-uploads [files]="settings.files"
                   [isUploading]="settings.isUploading()"
                   (addFiles)="addFiles($event)"
                   (uploadFiles)="settings.uploadFiles()"
                   (cancelUploads)="settings.cancelUpload()"
                   (clearUploads)="settings.clearUploads()">
      </app-uploads>
      <mat-divider></mat-divider>

    </div>
    <div class="column c2">
      <h3 class="secondary-text">Themes</h3>
      <app-themes [themes]="themes"
                  [currentTheme]="currentTheme$ | async"
                  (changeTheme)="changeTheme($event)">
      </app-themes>
      <mat-divider></mat-divider>

      <h3 class="secondary-text">Misc</h3>
      <div>
        <button mat-button>
          <mat-icon>{{ httpSocketClient.isSocketOpen() ? 'radio_button_checked' : 'radio_button_unchecked' }}</mat-icon>
          <span> WebSocket</span>
        </button>
      </div>
      <!--<div>-->
        <!--<mat-slide-toggle>Watch library folders</mat-slide-toggle>-->
      <!--</div>-->
      <div>
        <mat-slide-toggle matTooltip="Displays a warning icon next to artists, albums, tracks that have missing or incomplete tags."
                          [(ngModel)]="settings.warnOnMissingTags">
          Warn on missing tags
        </mat-slide-toggle>
      </div>
      <!--<div>-->
        <!--<mat-slide-toggle>Misc 2</mat-slide-toggle>-->
      <!--</div>-->
      <!--<div>-->
        <!--<mat-slide-toggle>Misc 3</mat-slide-toggle>-->
      <!--</div>-->
      <mat-divider></mat-divider>
    </div>
  </div>
</div>
