.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-left: 44px; // TODO a parent div must have the padding-left set
  box-sizing: border-box;
}

.settings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 960px;
  width: 100%;
  .column {
    max-width: 100%;
    padding: 1rem 1rem 0 1rem;
  }
  .c1 {
    flex-grow: 1;
  }
  .c2 {
    flex-grow: 1;
  }
}

@media screen and (max-width: 598px){
  .settings {
    // flex-wrap: wrap;
    .c2 {
      padding-top: 0;
    }
  }
}

mat-divider {
  margin: 1rem 0;
}

