<div class="controls">
  <mat-form-field floatLabel="never" class="search">
    <input matInput title="Search">
    <mat-placeholder>
      <mat-icon>search</mat-icon>
      Search
    </mat-placeholder>
  </mat-form-field>
  <button mat-icon-button
          class="more"
          [matMenuTriggerFor]="Track">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #Track>
    <button mat-menu-item>
      <mat-icon>playlist_add</mat-icon>
      <span>Add all to playlist</span>
    </button>
    <button mat-menu-item>
      <mat-icon>sort_by_alpha</mat-icon>
      <span>Sort alphabetically</span>
    </button>
    <button mat-menu-item>
      <mat-icon>sort</mat-icon>
      <span>Sort by file name</span>
    </button>
  </mat-menu>
</div>
<mat-divider></mat-divider>
<mat-list class="tracks">
  <ng-container *ngFor="let track of tracks">
    <a (click)="library.playTracks(tracks, track)" mat-list-item>
      <div matLine>
        <span matTooltip="{{track.metadata.title}}" matTooltipShowDelay="1000">{{track.metadata.title}}</span>
      </div>
      <div matLine>{{track.metadata.duration | sgTime}}</div>
      <button mat-icon-button
              class="more"
              *ngIf="library.currentTrack != track"
              [matMenuTriggerFor]="trackMenu"
              (click)="$event.stopPropagation()">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #trackMenu>
        <button mat-menu-item (click)="library.playTracks(tracks, track)">
          <mat-icon>play_arrow</mat-icon>
          <span>Play</span>
        </button>
        <button mat-menu-item (click)="library.playTrackNext(track)">
          <mat-icon>play_arrow</mat-icon>
          <span>Play next</span>
        </button>
        <button mat-menu-item (click)="library.addTrackToPlaylist(track)">
          <mat-icon>playlist_add</mat-icon>
          <span>Add to current playlist</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="playlistsMenu" disabled>
          <mat-icon>playlist_add</mat-icon>
          <span>Add to playlist</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>favorite_border</mat-icon>
          <span>Add to favorites</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>details</mat-icon>
          <span>Details</span>
        </button>
      </mat-menu>
      <mat-menu #playlistsMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>add</mat-icon>
          New playlist
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item>
          <mat-icon>album</mat-icon>
          Playlist1
        </button>
        <button mat-menu-item>
          <mat-icon>album</mat-icon>
          Playlist2
        </button>
      </mat-menu>
      <button mat-icon-button
              class = "playPause"
              *ngIf="library.currentTrack == track"
              (click)="audioComponent.playing ? audioComponent.pause() : audioComponent.play(); $event.stopPropagation()">
        <mat-icon>{{audioComponent.playing ? 'pause' : 'play_arrow'}}</mat-icon>
      </button>
      <span class="spinner" *ngIf="library.currentTrack == track">
        <mat-progress-spinner diameter="40"
                              [mode]="audioComponent.loading ? 'indeterminate' : 'determinate'"
                              [value]="audioComponent.currentTime / audioComponent.duration * 100"></mat-progress-spinner>
      </span>
      <mat-divider></mat-divider>
    </a>
  </ng-container>
</mat-list>
