.controls .controls-meta {
  left: calc(40px + 2rem);
  width: calc(100% - 80px - 3rem);
}

@media screen and (min-width: 959px){
  .controls .controls-meta {
    left: 1rem;
    width: calc(100% - 40px - 2rem);
  }
}

@media screen and (min-width: 1319px){

}
