.player {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.back-metadata {
  display: flex;
  flex-direction: row;
  box-sizing: content-box;
  padding: 9px 1rem 0 1rem;
  min-height: 45px;
  .back {
    position: relative;
    z-index: 1;
  }
}

.metadata {
  flex-grow: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  min-height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    font-size: 18px;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .artist {
    font-size: 14px;
    font-weight: 300;
    //margin-top: 0.25rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.volume, .progress {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  mat-slider {
    flex-grow: 1;
    margin: 0 8px;
  }
}

.volume {
  position: absolute;
  right: 0;
  top: 72px;
  display: none;
  z-index: 5;
}

.progress {
  height: 36px;
  min-height: 36px;
  mat-progress-bar {
    margin: 0 22px;
    height: 2px;
    flex-grow: 1;
  }
  .time-elapsed, .time-total {
    width: 2.5rem;
  }
  .time-total {
    text-align: right;
  }
}

.carousel {
  height: 100%;
  min-height: 230px;
  .lyrics {
    text-align: center;
    white-space: pre-wrap;
    overflow-x: hidden;
    min-height: 100%;
    padding: 1rem 0;
    box-sizing: border-box;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:focus {
      outline: none;
    }
    &.error {
      cursor: text;
    }
  }
  .playlist {
    height: 100%;
    font-size: 0;
    padding-top: 0;
    .mat-list-item {
      height: 55px;
      cursor: pointer;
    }
    .track-list-item:last-child {
      border-bottom: none;
    }
    .title {
      font-size: 14px;
      mat-icon {
        font-size: 16px;
        height: 16px;
        width: 16px;
        line-height: 16px;
        vertical-align: text-top;
        margin-right: 2px;
      }
    }
    .meta {
      font-size: 12px;
    }
    .year, .duration {
      font-size: 14px;
      margin-left: 1rem;
    }
  }
  .playlist-long {
    margin: 0;
    padding: 0;
    height: 100%;
    li {
      height: 36px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 1rem;
      cursor: pointer;
      mat-icon {
        line-height: 16px;
        font-size: 16px;
        height: 16px;
        width: 16px;
        margin-right: 0.25rem;
      }
    }
    .c {
      font-size: 14px;
      line-height: 1.5;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .title {
      display: flex;
      align-items: center;
      width: 50%;
      padding-right: 0.25rem;
      span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .artist {
      width: 25%;
      padding-right: 0.25rem;
    }
    .album {
      width: 25%;
    }
    .year, .duration {
      width: 62px;
      text-align: right;
    }
    .status-bar {
      cursor: auto;
    }
  }
  .albumArt {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      max-height: 100%;
      max-width: 100%;
    }
    mat-icon {
      font-size: 130px;
      height: 130px;
      width: 130px;
      line-height: 130px;
    }
  }
}

.status-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .5rem 1rem 0 1rem;
  font-weight: 300;
  .status-position {

  }
  .status-total-time {
    margin-left: auto;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: content-box;
  min-height: 60px;
  padding: 0 1rem 1rem 1rem;
  .playPause {
    box-sizing: content-box;
    border-radius: 50%;
    padding: 4px;
    width: 3rem;
    height: 3rem;
    mat-icon {
      font-size: 3rem;
      height: 3rem;
      width: 3rem;
      line-height: 3rem;
    }
  }
  .next, .previous {
    box-sizing: content-box;
    border-radius: 50%;
    padding: 2px;
    mat-icon {
      font-size: 2rem;
      height: 2rem;
      width: 2rem;
      line-height: 2rem;
    }
  }
  .repeat, .favorites {
    display: none;
  }
}


@media screen and (min-width: 599px) {
  .back-metadata {
    min-height: 62px;
    .mute {
      visibility: hidden;
    }
  }
  .volume {
    display: flex;
  }
  .menu {
    .repeat, .favorites {
      display: block;
    }
  }
  .metadata {
    min-height: 52px;
    padding-top: 10px;
    .title {
      font-size: 18px;
      font-weight: 500;
    }
    .artist {
      font-size: 14px;
      font-weight: 300;
      margin-top: 5px;
    }
  }
}
