<div class="controls">
  <mat-form-field floatLabel="never" class="search">
    <input matInput title="Search">
    <mat-placeholder>
      <mat-icon>search</mat-icon>
      Search
    </mat-placeholder>
  </mat-form-field>
  <button mat-icon-button
          class="more"
          [matMenuTriggerFor]="moreArtistMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #moreArtistMenu>
    <button mat-menu-item (click)="selectAll()">
      <mat-icon>select_all</mat-icon>
      <span>Select all</span>
    </button>
    <button mat-menu-item (click)="sortAlphabetically()">
      <mat-icon>sort_by_alpha</mat-icon>
      <span>Sort alphabetically</span>
    </button>
    <button mat-menu-item (click)="sortBySongs()">
      <mat-icon>sort</mat-icon>
      <span>Sort by number of songs</span>
    </button>
  </mat-menu>
</div>
<mat-divider></mat-divider>
<mat-list class="artists">
  <ng-container *ngFor="let artist of artists">
    <a (click)="selectArtist(artist)" mat-list-item>
      <mat-checkbox
        color="primary"
        matListIcon
        [checked]="isSelectedArtist(artist)"
        (change)="$event.checked ? addArtist(artist) : removeArtist(artist)"
        (click)="$event.stopPropagation()"></mat-checkbox>
      <div matListAvatar class="avatar"></div>
      <div matLine>
        <span matTooltip="{{artist.name}}" matTooltipShowDelay="1000">{{artist.name}}</span>
      </div>
      <div matLine>{{artist.songs}} songs</div>
      <button mat-icon-button>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </a>
  </ng-container>
</mat-list>
