.artists, .albums, .tracks {
  overflow-y: scroll;
  height: 100%;
  padding-top: 0;
  .mat-list-item {
    cursor: pointer;
    text-decoration: none;
    mat-checkbox {
      display: none;
      padding: 0;
      line-height: 0;
      width: 20px;
      height: 20px;
      margin: 0 10px;
    }
    .mat-checkbox-checked {
      display: block;
    }
    .mat-checkbox-checked ~ .avatar {
      display: none;
    }
    .avatar {
      background-color: black;
      width: 40px;
      height: 40px;
    }
    .secondary-text {
      font-size: 12px;
    }
    &:hover {
      mat-checkbox {
        display: block;
      }
      .avatar {
        display: none;
      }
    }
  }
}

.wrapper {
  padding-top: 66px;
  height: 100%;
}

.controls {
  //overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 66px;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  .search {
    flex-grow: 1;
    mat-placeholder {
      mat-icon {
        vertical-align: bottom;
      }
    }
  }
  .more {
    margin-left: 0.5rem;
  }
}


