.container {
  position: relative;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

.content {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: row;
  transform: translateX(0);
  transition-property: transform;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  &.t1 {
    transform: translateX(-100vw);
  }
  &.t2 {
    transform: translateX(-200vw);
  }
  &.t3 {
    transform: translateX(-300vw);
  }
}

.column {
  position: relative;
  width: 100vw;
}


@media screen and (min-width: 599px) {
  .column {
    width: 50vw;
    &.a4 {
      width: 100vw;
    }
  }
  .content {
    &.t1 {
      transform: translateX(-50vw);
    }
    &.t2 {
      transform: translateX(-50vw);
    }
    &.t3 {
      transform: translateX(-150vw);
    }
  }
}

@media screen and (min-width: 959px) {
  .column {
    width: 33.3vw;
    &.a4 {
      width: 66.6vw;
    }
  }
  .content {
    &.t1 {
      transform: translateX(0);
    }
    &.t2 {
      transform: translateX(0);
    }
    &.t3 {
      transform: translateX(-66.6vw);
    }
  }
}

@media screen and (min-width: 1319px) {
  .column {
    width: 20vw;
    &.a4 {
      width: 40vw;
    }
  }
  .content {
    &.t1 {
      transform: translateX(0);
    }
    &.t2 {
      transform: translateX(0);
    }
    &.t3 {
      transform: translateX(0);
    }
  }
}

//@media screen and (min-width: 410px) {
//  .container {
//    position: absolute;
//    min-width: 100vw;
//    height: 100%;
//  }
//
//  .content {
//    // overflow-x: hidden;
//  }
//
//  .column {
//    width: 0;
//    position: relative;
//    min-height: 480px;
//  }
//
//  .a1, .a2, .a3 {
//    flex-grow: 1;
//    min-width: 280px;
//  }
//
//  .a4 {
//    flex-grow: 2;
//    min-width: 360px;
//  }
//
//}
