.container {
  position: relative;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

.content {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: row;
  transform: translateX(0);
  transition-property: transform;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  overflow-y: hidden;
  .column {
    position: relative;
    width: 100vw;
  }
  .a1, .a2, .a3 {
    padding-bottom: 72px;
    transition-property: padding-bottom;
    transition-duration: 0.4s;
    transition-timing-function: ease;
  }
  app-mini-player {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 72px;
    transition-property: transform, height;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    overflow: hidden;
  }
  &.t1 {
    transform: translateX(-100vw);
    app-mini-player {
      transform: translateX(100vw);
    }
  }
  &.t2 {
    transform: translateX(-200vw);
    app-mini-player {
      transform: translateX(200vw);
    }
  }
  &.t3 {
    transform: translateX(-300vw);
    app-mini-player {
      transform: translate(200vw, 72px);
    }
    .a1, .a2, .a3 {
      padding-bottom: 0;
    }
  }
  &.no-track {
    .a1, .a2, .a3 {
      padding-bottom: 0;
    }
    app-mini-player {
      transform: translate(200vw, 72px);
      height: 0;
    }
  }
}

@media screen and (min-width: 599px) {
  .content {
    .column {
      width: 50vw;
      &.a4 {
        width: 100vw;
      }
    }
    &.t1 {
      transform: translateX(-50vw);
      app-mini-player {
        transform: translateX(50vw);
      }
    }
    &.t2 {
      transform: translateX(-50vw);
      app-mini-player {
        transform: translateX(50vw);
      }
    }
    &.t3 {
      transform: translateX(-150vw);
      app-mini-player {
        transform: translate(50vw, 72px);
      }
    }
    &.no-track {
      .a1, .a2, .a3 {
        padding-bottom: 0;
      }
      app-mini-player {
        transform: translate(50vw, 72px);
        height: 0;
      }
    }
  }
}

@media screen and (min-width: 959px) {
  .content {
    .column {
      width: 33.33vw;
      &.a4 {
        width: 66.66vw;
      }
    }
    &.t1 {
      transform: translateX(0);
      app-mini-player {
        transform: translateX(0);
      }
    }
    &.t2 {
      transform: translateX(0);
      app-mini-player {
        transform: translateX(0);
      }
    }
    &.t3 {
      transform: translateX(-66.6vw);
      app-mini-player {
        transform: translate(0, 72px);
      }
      .a1, .a2, .a3 {
        padding-bottom: 0;
      }
    }
    &.no-track {
      app-mini-player {
        transform: translate(0, 72px);
        height: 0;
      }
    }
  }
}

@media screen and (min-width: 1319px) {
  .content {
    .column {
      width: 20vw;
      &.a4 {
        width: 40vw;
      }
    }
    .a1, .a2, .a3 {
      padding-bottom: 0;
    }
    app-mini-player {
      display: none;
    }
    &.t1 {
      transform: translateX(0);
    }
    &.t2 {
      transform: translateX(0);
    }
    &.t3 {
      transform: translateX(0);
    }
  }
}
