.list-wrapper {
  overflow-y: scroll;
  height: 100%;
}

.artists, .albums, .tracks {
  padding-top: 0;
  .mat-list-item {
    cursor: pointer;
    text-decoration: none;
    mat-checkbox {
      display: none;
      padding: 0;
      line-height: 0;
      width: 20px;
      height: 20px;
      margin: 0 10px;
    }
    .mat-checkbox-checked {
      display: block;
    }
    .mat-checkbox-checked ~ .avatar {
      display: none;
    }
    .avatar {
      background-color: black;
      background-size: cover;
      width: 40px;
      height: 40px;
    }
    .primary-text {
      font-size: 14px;
      mat-icon {
        height: 14px;
        width: 14px;
        font-size: 14px;
        line-height: 14px;
        vertical-align: text-bottom;
      }
    }
    .secondary-text {
      font-size: 12px;
    }
    &:hover {
      mat-checkbox {
        display: block;
      }
      .avatar {
        display: none;
      }
    }
  }
}

.artists, .albums, .tracks.sorted-alpha {
  padding-right: 1rem;
}

.wrapper {
  padding-top: 60px;
  height: 100%;
  box-sizing: border-box;
  .alphabet {
    user-select: none;
    height: calc(100% - 132px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
    position: absolute;
    top: 60px;
    right: 21px;
    ol {
      list-style-type: none;
      li {
        text-align: center;
        cursor: pointer;
        line-height: calc((100vh - 192px) / 27);
      }
    }
  }
}

// Chrome and Opera only?
@supports (-webkit-appearance:none) {
  .wrapper .alphabet {
    right: 9px;
  }
}

@media screen and (min-width: 1319px){
  .wrapper {
    .alphabet {
      height: calc(100% - 60px);
      ol {
        li {
          line-height: calc((100vh - 120px) / 27);
        }
      }
    }
  }
}

.controls {
  overflow-y: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 0 0.5rem 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  .controls-meta {
    overflow: auto;
    white-space: nowrap;
    height: 60px;
    width: calc(100% - 80px - 1.5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 1rem;
    transform: translateY(60px);
    transition-property: transform;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    .mat-chip {
      font-size: 12px;
      padding: 5px 10px;
      max-width: calc(50% - 4px);
      .chip-text {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .mat-chip:not(.chip-more) {
      cursor: pointer;
    }
    .mat-chip:only-child {
      max-width: 100%;
    }
    &.show {
      transform: translateY(0);
    }
  }

  .search {
    flex-grow: 1;
    transform: translateY(-60px);
    transition-property: transform;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    &.show{
      transform: translateY(0);
    }
    mat-placeholder {
      mat-icon {
        vertical-align: bottom;
      }
    }
  }
  .more {
    // margin-left: 1rem;
  }
  .back {
    margin-right: 0.5rem;
    position: relative;
    z-index: 1;
  }
  .searchButton {
    margin-left: 0.5rem;
  }
}


