.player {
  padding-top: 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.volume {
  min-height: 40px;
  height: 40px;
}

.back-metadata {
  display: flex;
  flex-direction: row;
  min-height: 37px;
  .back {
    margin-left: 1rem;
  }
}

.metadata {
  flex-grow: 1;
  text-align: center;
  min-height: 34px;
  margin-right: 56px;
  .title {}
  .artist {
    font-size: 12px;
  }
}

.volume, .progress {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  mat-slider {
    flex-grow: 1;
    margin: 0 0.5rem;
  }
}

.carousel {
  height: 100%;
  min-height: 300px;
  .lyrics {
    text-align: center;
    white-space: pre-line;
    font-size: 80%;
  }
  .playlist {
    font-size: 0;
    padding-top: 0;
    .mat-list-item {
      height: 55px;
      cursor: pointer;
    }
    .mat-list-item:last-child {
      border-bottom: none;
    }
    .title {
      font-size: 14px;
      mat-icon {
        font-size: 16px;
        height: 16px;
        width: 16px;
        line-height: 16px;
        vertical-align: text-top;
      }
    }
    .meta {
      font-size: 12px;
    }
    .year {
      margin: 0 1rem;
    }
    .year, .duration {
      font-size: 14px;
    }
  }
  .playlist-long {

    display: none;

    li {
      height: 36px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 1rem;
      cursor: pointer;
      mat-icon {
        line-height: 16px;
        font-size: 16px;
        height: 16px;
        width: 16px;
        margin-right: 0.25rem;
      }
    }
    .c {
      font-size: 14px;
      line-height: 1.5;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .title {
      display: flex;
      align-items: center;
      width: 50%;
      padding-right: 0.25rem;
      span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .artist {
      width: 25%;
      padding-right: 0.25rem;
    }
    .album {
      width: 25%;
    }
    .year, .duration {
      width: 62px;
      text-align: right;
    }
  }
  .albumArt {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      align-self: center;
      max-height: 100%;
    }
  }
}

.progress {
  min-height: 36px;
  mat-progress-bar {
    margin: 0 1rem;
  }
  .time-elapsed, .time-total {
    width: 2.5rem;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 76px;
  padding: 0 1rem 1rem 1rem;
  .playPause {
    box-sizing: content-box;
    border: 1px solid #c0c0c0;
    border-radius: 50%;
    padding: 4px;
    width: 3rem;
    height: 3rem;
    mat-icon {
      font-size: 3rem;
      height: 3rem;
      width: 3rem;
      line-height: 3rem;
    }
  }
  .next, .previous {
    box-sizing: content-box;
    border: 1px solid #c0c0c0;
    border-radius: 50%;
    padding: 2px;
    mat-icon {
      font-size: 2rem;
      height: 2rem;
      width: 2rem;
      line-height: 2rem;
    }
  }
  .repeat, .favorites {
    display: none;
  }
}

@media screen and (min-width: 599px) {
  .menu {
    .repeat, .favorites {
      display: block;
    }
  }
  .carousel {
    .playlist {
      display: none;
    }
    .playlist-long {
      display: block;
    }
  }
}
