.mini-player {
  width: 100%;
  cursor: pointer;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;

  mat-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
  }

  .avatar {
    box-sizing: content-box;
    width: 40px;
    height: 40px;
    margin-right: 1rem;
    border-radius: 50%;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .meta {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .title {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .artist {
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 12px;
    }
  }

  .controls {
    button {
      box-sizing: content-box;
      // border: 1px solid black;
    }

    .playPause {
      margin: 0 0.5rem;
      .mat-icon {
        font-size: 30px;
        height: 30px;
        width: 30px;
        line-height: 30px;
      }
    }

    .next, .previous {
      height: 30px;
      width: 30px;
      line-height: 30px;
      .mat-icon {
        font-size: 20px;
        height: 20px;
        width: 20px;
        line-height: 20px;
      }
    }

    .previous {
      display: none;
    }

  }

}

@media screen and (min-width: 599px) {
  .mini-player {
    .controls {
      .previous {
        display: inline-block;
      }
    }
  }
}
