.controls .controls-meta {
  left: calc(40px + 2rem);
  width: calc(100% - 120px - 2.5rem);
}

@media screen and (min-width: 599px){
  .controls .controls-meta {
    left: 1rem;
    width: calc(100% - 80px - 1.5rem);
  }
}

@media screen and (min-width: 959px){
  .controls .controls-meta {
    left: calc(40px + 2rem);
    width: calc(100% - 120px - 2.5rem);
  }
}

@media screen and (min-width: 1319px){
  .controls .controls-meta {
    left: 1rem;
    width: calc(100% - 80px - 1.5rem);
  }
}

.tracks {
  .mat-list-item {
    .spinner {
      display: inline-block;
      height: 40px;
      width: 40px;
      position: absolute;
      right: 0.5rem;
      z-index: 1;
    }
    .playPause {
      position: relative;
      z-index: 2;
    }
    .favorite-icon {
      height: 14px;
      width: 14px;
      font-size: 14px;
      line-height: 14px;
      vertical-align: text-bottom;
    }
  }
}
