.side-menu {
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 44px;
  z-index: 2;
  min-height: 380px;
  button {
    margin: 4px 0;
    box-sizing: content-box;
  }
  .toggle, .album {
    margin-bottom: 5px;
  }
}

:host-context(.electron) .side-menu {
  top: 34px;
}

@media screen and (min-width: 599px){
  .side-menu {
    display: flex;
  }
}
