mat-toolbar {
  min-height: 50px;
  max-height: 50px;
  z-index: 4;
  position: relative;
  h1 {
    font-family: 'Cookie', cursive;
    font-size: 40px;
    a:focus {
      outline: none;
    }
  }
  .toggle {
    margin-left: -0.5rem;
    margin-right: 0.5rem;
  }
}

:host-context(.electron) mat-toolbar {
  user-select: none;
  -webkit-app-region: drag;
  height: 34px !important;
  min-height: 34px;

  a, button, .electron-buttons, .theme-chooser {
    -webkit-app-region: no-drag;
  }

  h1 {
    font-family: 'Cookie', cursive;
    font-size: 24px;
  }
}

@media screen and (min-width: 599px){
  mat-toolbar {
    .toggle {
      display: none;
    }
  }
}

.filler {
  flex-grow: 1;
}

.electron-buttons {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  right: 0;
  mat-icon {
    cursor: pointer;
    padding: 9px 14px;
    box-sizing: content-box;
    font-size: 16px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    &.electron-theme {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

$theme-chooser-height: 80px;
$theme-chooser-width: 80px;

.theme-chooser {
  position: absolute;
  height: $theme-chooser-height;
  width: $theme-chooser-width;
  padding: 0.5rem;
  z-index: 101;
  border-radius: 3px;
  box-sizing: content-box;

  visibility: hidden;
  opacity: 0;
  top: 10px;
  right: 10px;
  transform: scale(0.6);
  transform-origin: top right;

  transition-property: opacity, visibility, transform;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.theme-chooser.visible {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.theme-chooser-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.theme-chooser ol {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    width: $theme-chooser-width / 2 - 4px;
    height: $theme-chooser-height / 2 - 4px;;
    margin-bottom: 0.5rem;
    line-height: 0;

    button {
      width: 100%;
      height: 100%;
      background-color: grey;
      line-height: 0;
    }

  }
}
