.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 450px;
}

.main-loader {
  position: absolute;
  z-index: 3;
  height: 3px;
  top: 50px;
  display: none;
  &.show {
    display: inline-block;
  }
}

.side-menu {
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 44px;
  z-index: 2;
  min-height: 380px;
  button {
    margin: 4px 0;
    box-sizing: content-box;
  }
  .toggle, .album {
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 599px){
  .side-menu {
    display: flex;
  }
}

mat-toolbar {
  min-height: 50px;
  max-height: 50px;
  z-index: 3;
  h1 {
    font-family: 'Cookie', cursive;
    font-size: 40px;
    a:focus {
      outline: none;
    }
  }
  .toggle {
    margin-left: -0.5rem;
    margin-right: 0.5rem;
  }
}

@media screen and (min-width: 599px){
  mat-toolbar {
    .toggle {
      display: none;
    }
  }
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 250px;
  a {
    text-decoration: none;
  }
  .mat-list-icon {
    padding: 0;
  }
}

@media screen and (min-width: 599px){
  mat-sidenav {
    padding-left: 44px;
    .mat-list-icon {
      display: none;
    }
    .mat-line {
      margin-left: -16px;
    }
  }
}

.filler {
  flex-grow: 1;
}

mat-sidenav .mat-line mat-icon {
  height: 18px;
  width: 18px;
  line-height: 18px;
  font-size: 18px;
  vertical-align: text-top;
}

$theme-chooser-height: 80px;
$theme-chooser-width: 80px;
$theme-chooser-scale: 0.6;
$theme-chooser-top: 10px;
$theme-chooser-right: 10px;

.theme-chooser {
  position: absolute;
  height: $theme-chooser-height;
  width: $theme-chooser-width;
  padding: 0.5rem;
  z-index: 101;
  border-radius: 3px;
  box-sizing: content-box;

  visibility: hidden;
  opacity: 0;
  top: ($theme-chooser-scale - 1) * $theme-chooser-height / 2 + $theme-chooser-top;
  right: ($theme-chooser-scale - 1) * $theme-chooser-width / 2 + $theme-chooser-right;
  transform: scale($theme-chooser-scale);

  transition-property: width, height, opacity, visibility, transform, top, right;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.theme-chooser.visible {
  visibility: visible;
  opacity: 1;
  top: $theme-chooser-top;
  right: $theme-chooser-right;
  transform: scale(1);
}

.theme-chooser-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.theme-chooser ol {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  li {
    display: inline-block;
    width: $theme-chooser-width / 2 - 4px;
    height: $theme-chooser-height / 2 - 4px;;
    margin-bottom: 0.5rem;
    line-height: 0;

    button {
      width: 100%;
      height: 100%;
      background-color: grey;
      line-height: 0;
    }

  }
}

.electron {

  mat-toolbar {
    user-select: none;
    -webkit-app-region: drag;
    height: 34px !important;
    min-height: 34px;

    a, button, .electron-buttons, .theme-chooser {
      -webkit-app-region: no-drag;
    }

    h1 {
      font-family: 'Cookie', cursive;
      font-size: 24px;
    }
  }

  .side-menu {
    top: 34px;
  }

  .electron-buttons {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 0;
    mat-icon {
      cursor: pointer;
      padding: 9px 14px;
      box-sizing: content-box;
      font-size: 16px;
      height: 16px;
      width: 16px;
      line-height: 16px;
      &.electron-theme {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

}
