<div ngClass="mat-typography main-wrapper" [class]="settings.currentTheme.cssClass">
  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()" class="menu" *ngIf="showSidenav">
      <mat-icon>{{sidenav.opened ? 'close' : 'menu'}}</mat-icon>
    </button>
    <h1>
      Musicalypse
    </h1>
    <div class="filler"></div>
    <nav *ngIf="!showSidenav">
      <ul>
        <li>
          <a routerLink="/" routerLinkActive="warn" class="link" [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon *ngIf="library.audio.playing && !library.audio.muted">volume_up</mat-icon> Library
          </a>
        </li>
        <li><a routerLink="/settings" routerLinkActive="warn" class="link">Settings</a></li>
        <li><a routerLink="/about" routerLinkActive="warn" class="link">About</a></li>
      </ul>
    </nav>
    <button mat-button mat-icon-button class="theme" (click)="themeChooser = true">
      <mat-icon>format_color_fill</mat-icon>
    </button>
    <div class="theme-chooser-backdrop" *ngIf="themeChooser" (click)="themeChooser = false"></div>
    <div class="theme-chooser" [ngClass]="themeChooser ? 'visible' : ''" (click)="themeChooser = false">
      <ol>
        <li *ngFor="let theme of settings.featuredThemes">
          <button mat-icon-button (click)="settings.changeTheme(theme)" ngClass="{{theme.cssClass}}-chooser">
            <mat-icon *ngIf="settings.currentTheme == theme">check_circle</mat-icon>
          </button>
        </li>
      </ol>
    </div>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav [mode]="'over'">
      <mat-list>
        <h3 mat-subheader>Navigation</h3>
        <a mat-list-item routerLink="/" routerLinkActive="warn" [routerLinkActiveOptions]="{ exact: true }" (click)="sidenav.close()">
          <mat-icon mat-list-icon>home</mat-icon>
          <span matLine>
            <mat-icon *ngIf="library.audio.playing && !library.audio.muted">volume_up</mat-icon>
            Library
          </span>
        </a>
        <a mat-list-item routerLink="/settings" routerLinkActive="warn" (click)="sidenav.close()">
          <mat-icon mat-list-icon>settings</mat-icon>
          <span matLine>Settings</span>
        </a>
        <a mat-list-item routerLink="/about" routerLinkActive="warn" (click)="sidenav.close()">
          <mat-icon mat-list-icon>info</mat-icon>
          <span matLine>About</span>
        </a>
      </mat-list>
    </mat-sidenav>
    <mat-progress-bar class="main-loader" mode="indeterminate" *ngIf="loader.isLoading()"></mat-progress-bar>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>

<app-audio #audio></app-audio>
