mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 240px;
  padding: 1rem;
}

.header .icon {
  line-height: 0;
  margin-right: 1rem;
  cursor: pointer;
  user-select: none;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  .content {
    flex-grow: 1;
    position: relative;
  }
}

.playerContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.a1, .a2, .a3 {
  overflow-y: scroll;
  min-width: 240px;
  flex-grow: 1;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
}

.a2 {
  //background-color: black;
}

.a3 {
  //background-color: aqua;
}

.a4 {
  flex-grow: 2;
  max-width: 600px;
  min-width: 450px;
}

mat-list {
  padding-top: 0;
  a {
    text-decoration: none;
    mat-checkbox {
      display: none;
      padding: 6px;
      position: relative;
      left: 2px;
      bottom: 3px;
    }
    .mat-checkbox-checked {
      display: block;
    }
    .mat-checkbox-checked ~ .avatar {
      display: none;
    }
    .avatar {
      background-color: black;
      width: 36px;
      height: 36px;
    }
    &:hover {
      mat-checkbox {
        display: block;
      }
      .avatar {
        display: none;
      }
    }
  }
}

.player {
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
}

.volume, .progress {
  display: flex;
  flex-direction: row;
  align-items: center;
  mat-slider {
    flex-grow: 1;
    margin: 0 0.5rem;
  }
}

.volume {
  a {
    line-height: 0;
  }
  mat-slider {
    margin-left: 0;
  }
}

.progress {
  height: 3rem;
  mat-progress-bar {
    margin: 0 1rem;
  }
}

.carousel {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  .lyrics {
    text-align: center;
    white-space: pre-line;
    font-size: 80%;
  }
  .details {
    display: flex;
    flex-direction: column;
    mat-form-field {
      flex-grow: 1;
    }
  }
  .albumArt {
    text-align: center;
    img {
      height: 400px;
      border: 1px solid rgba(0,0,0,.66);
    }
  }
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  .playPause {
    box-sizing: content-box;
    border: 1px solid #c0c0c0;
    border-radius: 50%;
    padding: 4px;
    width: 3rem;
    height: 3rem;
    i {
      font-size: 3rem;
    }
  }
  .next, .previous {
    box-sizing: content-box;
    border: 1px solid #c0c0c0;
    border-radius: 50%;
    padding: 4px;
    width: 2rem;
    height: 2rem;
    i {
      font-size: 2rem;
    }
  }
}




