<mat-toolbar class="header">
  <a *ngIf="!sidenav.opened" (click)="sidenav.open()" class="icon"><mat-icon>menu</mat-icon></a>
  <a *ngIf="sidenav.opened" (click)="sidenav.close()" class="icon"><mat-icon>close</mat-icon></a>
  Musicalypse
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="'over'">
    <p>Sidenav</p>
  </mat-sidenav>

  <div class="container">
    <div class="content">
      <div class="playerContainer">
        <div class="a1">
          <mat-list class="artists">
            <a href="" mat-list-item *ngFor="let artist of artists">
              <mat-checkbox color="primary" matListIcon></mat-checkbox>
              <div matListAvatar class="avatar"></div>
              <span matLine matTooltip="{{artist}}">{{artist}}</span>
              <span matLine>33 songs</span>
              <i class="material-icons">keyboard_arrow_right</i>
              <mat-divider></mat-divider>
            </a>
          </mat-list>
        </div>
        <div class="a2">
          <mat-list class="albums">
            <a href="" mat-list-item *ngFor="let album of albums">
              <mat-checkbox color="primary" matListIcon></mat-checkbox>
              <div matListAvatar class="avatar"></div>
              <span matLine matTooltip="{{album}}">{{album}}</span>
              <span matLine>33 songs</span>
              <i class="material-icons">keyboard_arrow_right</i>
              <mat-divider></mat-divider>
            </a>
          </mat-list>
        </div>
        <div class="a3">
          <mat-list class="tracks">
            <a href="" mat-list-item *ngFor="let track of tracks">
              <span matLine matTooltip="{{track}}">{{track}}</span>
              <span matLine>01:00</span>
              <i class="material-icons">play_arrow</i>
              <mat-divider></mat-divider>
            </a>
          </mat-list>
        </div>
        <div class="a4">test</div>
      </div>
    </div>
    <!--<mat-toolbar class="footer">-->
      <!--Footer-->
    <!--</mat-toolbar>-->
  </div>

</mat-sidenav-container>
