mat-toolbar h1 {
  font-family: 'Cookie', cursive;
  font-size: 40px;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 240px;
  a {
    text-decoration: none;
  }
}

.menu {
  margin-right: 5px;
}

.filler {
  flex-grow: 1;
}

nav {
  li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 2rem;
    font-size: 14px;
  }
}

nav li mat-icon,
mat-sidenav .mat-line mat-icon {
  height: 18px;
  width: 18px;
  line-height: 18px;
  font-size: 18px;
  vertical-align: text-top;
}

.theme {
  margin-left: 2rem;
}

$theme-chooser-height: 80px;
$theme-chooser-width: 80px;
$theme-chooser-scale: 0.6;
$theme-chooser-top: 10px;
$theme-chooser-right: 10px;

.theme-chooser {
  position: absolute;
  height: $theme-chooser-height;
  width: $theme-chooser-width;
  padding: 0.5rem;
  z-index: 101;
  border-radius: 3px;
  box-sizing: content-box;

  visibility: hidden;
  opacity: 0;
  top: ($theme-chooser-scale - 1) * $theme-chooser-height / 2 + $theme-chooser-top;
  right: ($theme-chooser-scale - 1) * $theme-chooser-width / 2 + $theme-chooser-right;
  transform: scale($theme-chooser-scale);

  transition-property: width, height, opacity, visibility, transform, top, right;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.theme-chooser.visible {
  visibility: visible;
  opacity: 1;
  top: $theme-chooser-top;
  right: $theme-chooser-right;
  transform: scale(1);
}

.theme-chooser-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.theme-chooser ol {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  li {
    display: inline-block;
    width: $theme-chooser-width / 2 - 4px;
    height: $theme-chooser-height / 2 - 4px;;
    margin-bottom: 0.5rem;
    line-height: 0;

    button {
      width: 100%;
      height: 100%;
      background-color: grey;
      line-height: 0;
    }

    .dark-theme-chooser {
      background-color: black;
    }

    .light-theme-chooser {
      background-color: white;
    }
  }
}



@media screen and (max-width: 599px) {
  mat-toolbar {
    padding-left: 5px;
  }
}








