<mat-toolbar class="header">
  <a *ngIf="!sidenav.opened" (click)="sidenav.open()" class="icon"><mat-icon>menu</mat-icon></a>
  <a *ngIf="sidenav.opened" (click)="sidenav.close()" class="icon"><mat-icon>close</mat-icon></a>
  Musicalypse
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="'over'">
    <p>Sidenav</p>
  </mat-sidenav>

  <div class="container">
    <div class="content">
      <div class="playerContainer">
        <div class="a1">
          <mat-list class="artists">
            <ng-container *ngFor="let artist of artists">
              <a (click)="selectArtist(artist)" mat-list-item>
                <mat-checkbox
                  color="primary"
                  matListIcon
                  [checked]="isSelectedArtist(artist)"
                  (change)="$event.checked ? addArtist(artist) : removeArtist(artist)"
                  (click)="$event.stopPropagation()"></mat-checkbox>
                <div matListAvatar class="avatar"></div>
                <span matLine matTooltip="{{artist.name}}" matTooltipShowDelay="1000">{{artist.name}}</span>
                <span matLine>{{artist.songsNumber}} songs</span>
                <i class="material-icons">keyboard_arrow_right</i>
                <mat-divider></mat-divider>
              </a>
            </ng-container>
          </mat-list>
        </div>
        <div class="a2">
          <mat-list class="albums">
            <ng-container *ngFor="let album of getDisplayedAlbums()">
              <a (click)="selectAlbum(album)" mat-list-item>
                <mat-checkbox
                  color="primary"
                  matListIcon
                  [checked]="isSelectedAlbum(album)"
                  (change)="$event.checked ? addAlbum(album) : removeAlbum(album)"
                  (click)="$event.stopPropagation()"></mat-checkbox>
                <div matListAvatar class="avatar"></div>
                <span matLine matTooltip="{{album.name}}" matTooltipShowDelay="1000">{{album.name}}</span>
                <span matLine>{{album.songsNumber}} songs</span>
                <i class="material-icons">keyboard_arrow_right</i>
                <mat-divider></mat-divider>
              </a>
            </ng-container>
          </mat-list>
        </div>
        <div class="a3">
          <mat-list class="tracks">
            <ng-container *ngFor="let track of getDisplayedTracks()">
              <a (click)="setTrack(track)" mat-list-item>
                <span matLine matTooltip="{{track.name}}" matTooltipShowDelay="1000">{{track.name}}</span>
                <span matLine>{{track.duration | sgTime}}</span>
                <i class="material-icons" *ngIf="!audio.playing || currentTrack !== track">play_arrow</i>
                <i class="material-icons" *ngIf="audio.playing && currentTrack == track">pause</i>
                <mat-divider></mat-divider>
              </a>
            </ng-container>
          </mat-list>
        </div>
        <div class="a4">
          <div class="player">
            <div class="title">
              <!--<div class="spinner">-->
                <!--<mat-progress-spinner-->
                  <!--*ngIf="audio.progress < 100"-->
                  <!--[mode]="audio.progress == 0 ? 'indeterminate' : 'determinate'"-->
                  <!--[value]="audio.progress"-->
                  <!--diameter="25"></mat-progress-spinner>-->
              <!--</div>-->
              <div class="metadata">
                {{currentTrack.name}}<br>
                {{currentTrack.artistId}}
              </div>
              <!--<div class="filler"></div>-->
            </div>
            <div class="volume">
              <a (click)="audio.muted = !audio.muted">
                <i class="material-icons" *ngIf="!audio.muted && audio.volume > 0.50">volume_up</i>
                <i class="material-icons" *ngIf="!audio.muted && audio.volume > 0 && audio.volume <= 0.50">volume_down</i>
                <i class="material-icons" *ngIf="!audio.muted && audio.volume == 0">volume_mute</i>
                <i class="material-icons" *ngIf="audio.muted">volume_off</i>
              </a>
              <mat-slider
                [disabled]="audio.muted"
                [value]="audio.volume"
                (input)="audio.volume = $event.value"
                max="1"
                step="0.01"
                color="primary"></mat-slider>
            </div>
            <div class="carousel">
              <mat-tab-group [selectedIndex]="1">
                <mat-tab>
                  <div class="details">
                    <mat-form-field>
                      <input matInput placeholder="Title" value="The End Of The Line">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="Album" value="Death Magnetic">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="Artist" value="Metallica">
                    </mat-form-field>
                  </div>
                </mat-tab>
                <mat-tab>
                  <div class="albumArt" >
                    <img src="https://images-na.ssl-images-amazon.com/images/I/91aZBftKeUL._SL1425_.jpg" />
                  </div>
                </mat-tab>
                <mat-tab>
                  <div class="lyrics">
                    Need
                    More and more
                    Tainted misery

                    Bleed
                    Battle scars
                    Chemical affinity

                    Reign
                    Legacy
                    Innocence corrode

                    Stain
                    Rot away
                    Catatonic overload

                    Choke
                    Asphyxia
                    Snuff reality

                    Scorch
                    Kill the light
                    Incinerate celebrity

                    Reaper
                    Butchery
                    Karma amputee

                    Bloodline
                    Breeding fine
                    Death contagious deity

                    Need more and more
                    Into the endless fever
                    Need more and more

                    New consequence machine
                    Burn through all your gasoline
                    Asylum overtime
                    Never mind
                    You reach the end of the line

                    Time
                    Choke the clock
                    Steal another day

                    Die
                    Faithfully
                    Narcissistic fade away

                    Twisted
                    Jump the rail
                    Shout at the crowd below

                    Breaker
                    Chase the ghost
                    The latest high to all time low

                    Need more and more
                    Into the endless fever
                    Need more and more

                    New consequence machine
                    Burn through all your gasoline
                    Asylum overtime
                    Never mind
                    You reach the end of the line

                    Drop the hourglass of time
                    Spinning sand we will not find
                    As we gather here today
                    We bid farewell

                    The slave becomes the master
                    The slave becomes the master
                    The slave becomes the master
                    The slave becomes the master

                    Need more and more
                    Right now and ever after
                    Need more and more

                    New consequence machine
                    Burn through all your gasoline
                    Asylum overtime
                    Never mind

                    Dead hourglass of time
                    Sand we will not ever find
                    We gather here today
                    Say goodbye
                    'Cause you've reached the end of the line

                    The end of the line
                    The end of the line
                    The end of the line
                    You've reached the end of the line
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>
            <div class="progress">
              <span>{{audio.currentTime | sgTime}}</span>
              <mat-progress-bar mode="indeterminate" *ngIf="audio.loading"></mat-progress-bar>
              <mat-slider
                *ngIf="!audio.loading"
                color="primary"
                step="0.01"
                [max]="audio.duration"
                [value]="audio.currentTime"
                (change)="audio.seekTo($event.value)"></mat-slider>
              <span>{{audio.duration | sgTime}}</span>
            </div>
            <div class="menu">
              <a class="shuffle">
                <i class="material-icons">shuffle</i>
              </a>
              <a class="previous">
                <i class="material-icons">skip_previous</i>
              </a>
              <a class="playPause" (click)="audio.playing ? audio.pause() : audio.play()">
                <i class="material-icons" *ngIf="audio.playing">pause</i>
                <i class="material-icons" *ngIf="!audio.playing">play_arrow</i>
              </a>
              <a class="next">
                <i class="material-icons">skip_next</i>
              </a>
              <a class="more">
                <i class="material-icons">more_vert</i>
              </a>
            </div>
            <div class="audio">
              <app-audio
                [source]="currentTrack.source"
                [muted]="audio.muted"
                [volume]="audio.volume"
                [currentTime]="audio.currentTime"></app-audio>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</mat-sidenav-container>
