@import '~@angular/material/theming';

// mixin name will be used in main style.scss
@mixin app-component-theme($theme) {

  // retrieve variables from theme
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  *:not(.mat-drawer-content)::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  *::-webkit-scrollbar-track {
    background-color: mat-color($background, app-bar);
  }
  *::-webkit-scrollbar-thumb {
    background-color: mat-color($foreground, disabled-button);
  }
  *::-webkit-scrollbar-button {
    display: none;
  }

  .divider {
    border-bottom: 1px solid mat-color($foreground, divider);
  }

  .fake-scroll-y {
    border-right: 5.5px solid mat-color($background, app-bar);
  }

  .hover:hover {
    background-color: mat-color($background, hover);
  }

  .link {
    text-decoration: none;
    color: mat-color($foreground, text);
  }

  .accent {
    color: mat-color($accent);
  }

  .warn {
    color: mat-color($warn);
  }

  .secondary-text {
    color: mat-color($foreground, secondary-text);
  }

  .mat-list-item.accent .mat-line {
    color: mat-color($accent);
  }

  .mat-list-item.warn .mat-line {
    color: mat-color($warn);
  }

  .theme-chooser {
    background-color: mat-color($background, dialog);
    border: 1px solid mat-color($background, status-bar);
    button {
      border: 1px solid mat-color($foreground, divider);
      mat-icon {
        color: mat-color($warn);
      }
    }
  }

  .hover-background {
    background-color: mat-color($background, hover);
  }

  .outline-dashed {
    outline: 2px dashed mat-color($foreground, icon);
  }

  mat-nav-list, nav {
    .active {
      color: mat-color($warn);
    }
  }

}
