<div class="player">
  <div class="volume">
    <button mat-icon-button
            class="mute"
            (click)="audio.muted = !audio.muted">
      <mat-icon *ngIf="!audio.muted && audio.volume > 0.50">volume_up</mat-icon>
      <mat-icon *ngIf="!audio.muted && audio.volume > 0 && audio.volume <= 0.50">volume_down</mat-icon>
      <mat-icon *ngIf="!audio.muted && audio.volume == 0">volume_mute</mat-icon>
      <mat-icon *ngIf="audio.muted">volume_off</mat-icon>
    </button>
    <mat-slider
      [disabled]="audio.muted"
      [value]="audio.volume"
      (input)="audio.volume = $event.value"
      max="1"
      step="0.01"
      color="primary"></mat-slider>
  </div>
  <div class="metadata">
    <div class="title">
      {{track ? track.metadata.title : '-'}}
    </div>
    <div class="artist">
      {{track ? track.metadata.artist : '-'}}
    </div>
  </div>
  <div class="carousel">
    <mat-tab-group [selectedIndex]="0">
      <mat-tab label="Playlist">
        <ng-template mat-tab-label>
          <mat-icon>playlist_play</mat-icon>
          <span>Playlist</span>
        </ng-template>
        <ul class="playlist">
          <li>
            <span class="title c">San</span>
            <span class="artist c">Orelsan</span>
            <span class="album c">La fete est finie</span>
            <span class="year c">2017</span>
            <span class="duration c">01:45</span>
          </li>
          <li>
            <span class="title c">San</span>
            <span class="artist c">Orelsan</span>
            <span class="album c">La fete est finie</span>
            <span class="year c">2017</span>
            <span class="duration c">01:45</span>
          </li>
          <li>
            <span class="title c">San</span>
            <span class="artist c">Orelsan</span>
            <span class="album c">La fete est finie</span>
            <span class="year c">2017</span>
            <span class="duration c">01:45</span>
          </li>
          <li>
            <span class="title c">San</span>
            <span class="artist c">Orelsan</span>
            <span class="album c">La fete est finie</span>
            <span class="year c">2017</span>
            <span class="duration c">01:45</span>
          </li>
        </ul>
      </mat-tab>
      <mat-tab label="Cover">
        <ng-template mat-tab-label>
          <mat-icon>photo</mat-icon>
          <span>Cover</span>
        </ng-template>
        <div class="albumArt">
          <img src="https://images-na.ssl-images-amazon.com/images/I/91aZBftKeUL._SL1425_.jpg" />
        </div>
      </mat-tab>
      <mat-tab label="Lyrics">
        <ng-template mat-tab-label>
          <mat-icon>format_align_center</mat-icon>
          <span>Lyrics</span>
        </ng-template>
        <div class="lyrics">
          Need
          More and more
          Tainted misery

          Bleed
          Battle scars
          Chemical affinity

          Reign
          Legacy
          Innocence corrode

          Stain
          Rot away
          Catatonic overload

          Choke
          Asphyxia
          Snuff reality

          Scorch
          Kill the light
          Incinerate celebrity

          Reaper
          Butchery
          Karma amputee

          Bloodline
          Breeding fine
          Death contagious deity

          Need more and more
          Into the endless fever
          Need more and more

          New consequence machine
          Burn through all your gasoline
          Asylum overtime
          Never mind
          You reach the end of the line

          Time
          Choke the clock
          Steal another day

          Die
          Faithfully
          Narcissistic fade away

          Twisted
          Jump the rail
          Shout at the crowd below

          Breaker
          Chase the ghost
          The latest high to all time low

          Need more and more
          Into the endless fever
          Need more and more

          New consequence machine
          Burn through all your gasoline
          Asylum overtime
          Never mind
          You reach the end of the line

          Drop the hourglass of time
          Spinning sand we will not find
          As we gather here today
          We bid farewell

          The slave becomes the master
          The slave becomes the master
          The slave becomes the master
          The slave becomes the master

          Need more and more
          Right now and ever after
          Need more and more

          New consequence machine
          Burn through all your gasoline
          Asylum overtime
          Never mind

          Dead hourglass of time
          Sand we will not ever find
          We gather here today
          Say goodbye
          'Cause you've reached the end of the line

          The end of the line
          The end of the line
          The end of the line
          You've reached the end of the line
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="progress">
    <span>{{audio.currentTime ? (audio.currentTime | sgTime) : '00:00'}}</span>
    <mat-progress-bar
      *ngIf="audio.loading"
      mode="indeterminate" ></mat-progress-bar>
    <mat-slider
      *ngIf="!audio.loading"
      color="primary"
      step="1"
      [disabled]="!audio.duration"
      [max]="audio.duration"
      [value]="audio.currentTime"
      (change)="audio.seekTo($event.value)"></mat-slider>
    <span>{{audio.duration ? (audio.duration | sgTime) : '--:--'}}</span>
  </div>
  <div class="menu">
    <button mat-icon-button class="shuffle">
      <mat-icon>shuffle</mat-icon>
    </button>
    <button mat-icon-button
            [disabled]="!track"
            class="previous">
      <mat-icon>skip_previous</mat-icon>
    </button>
    <button mat-icon-button
            color="primary"
            class="playPause"
            [disabled]="!track"
            (click)="audio.playing ? audio.pause() : audio.play()">
      <mat-icon>{{audio.playing ? 'pause' : 'play_arrow'}}</mat-icon>
    </button>
    <button mat-icon-button
            [disabled]="!track"
            class="next">
      <mat-icon>skip_next</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="playerMenu" class="more" (click)="$event.stopPropagation()">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <mat-menu #playerMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="playlistsMenu3">
      <mat-icon>playlist_add</mat-icon>
      <span>Add to playlist</span>
    </button>
    <button mat-menu-item>
      <mat-icon>favorite_border</mat-icon>
      <span>Add to favorites</span>
    </button>
    <button mat-menu-item>
      <mat-icon>details</mat-icon>
      <span>Details</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
      <mat-icon>save</mat-icon>
      <span>Save playlist</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="playlistsMenu2">
      <mat-icon>playlist_play</mat-icon>
      <span>Load playlist</span>
    </button>
  </mat-menu>
  <mat-menu #playlistsMenu2="matMenu">
    <button mat-menu-item>
      <mat-icon>album</mat-icon>
      Playlist1
    </button>
    <button mat-menu-item>
      <mat-icon>album</mat-icon>
      Playlist2
    </button>
  </mat-menu>
  <mat-menu #playlistsMenu3="matMenu">
    <button mat-menu-item>
      <mat-icon>add</mat-icon>
      New playlist
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
      <mat-icon>album</mat-icon>
      Playlist1
    </button>
    <button mat-menu-item>
      <mat-icon>album</mat-icon>
      Playlist2
    </button>
  </mat-menu>
</div>
