.player {
  padding: 10px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  //position: relative;
}

.volume {
  min-height: 40px;
  height: 40px;
}

.metadata {
  text-align: center;
  min-height: 34px;
  .title {}
  .artist {
    font-size: 80%;
  }
}

.volume, .progress {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  mat-slider {
    flex-grow: 1;
    margin: 0 0.5rem;
  }
}

.volume {
  mat-slider {
    margin-left: 0;
  }
}

.carousel {
  height: 100%;
  min-height: 300px;
  .lyrics {
    text-align: center;
    white-space: pre-line;
    font-size: 80%;
  }
  .details {
    display: flex;
    flex-direction: column;
    mat-form-field {
      flex-grow: 1;
    }
  }
  .albumArt {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      align-self: center;
      max-height: 100%;
    }
  }
}

.progress {
  min-height: 36px;
  mat-progress-bar {
    margin: 0 1rem;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0 1rem;
  .playPause {
    box-sizing: content-box;
    border: 1px solid #c0c0c0;
    border-radius: 50%;
    padding: 4px;
    width: 3rem;
    height: 3rem;
    mat-icon {
      font-size: 3rem;
      height: 3rem;
      width: 3rem;
      line-height: 3rem;
    }
  }
  .next, .previous {
    box-sizing: content-box;
    border: 1px solid #c0c0c0;
    border-radius: 50%;
    padding: 2px;
    mat-icon {
      font-size: 2rem;
      height: 2rem;
      width: 2rem;
      line-height: 2rem;
    }
  }
}
