@import '~@angular/material/theming';

@mixin my-music-component-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .my-music {

    .avatar-icon {
      color: mat-color($foreground, disabled-text);
    }

    .cover.noArt {
      border: 1px solid mat-color($foreground, divider);
    }

    mat-tab-header {
      position: fixed;
      width: 100%;
      z-index: 2;
      background-color: mat-color($background, background);
    }

    mat-tab-body {
      padding-top: 50px;
    }

    mat-row:hover {
      background-color: mat-color($background, hover);
    }

  }

}
