@import "../../node_modules/minireset.css";
@import '~@angular/material/_theming.scss';

$typo: mat-typography-config(
  $font-family: 'Roboto, sans-serif'
);

@include mat-core($typo);

@import 'theme.scss';

@import 'app/app.component.scss-theme';
@import 'app/library/player/player.component.scss-theme';

@mixin custom-components-theme($theme) {
  @include app-component-theme($theme);
  @include player-component-theme($theme)
}

.light-theme {
  @include angular-material-theme($light-theme);
  @include custom-components-theme($light-theme);
}
.dark-theme {
  @include angular-material-theme($dark-theme);
  @include custom-components-theme($dark-theme);
}

body {
  font-family: Roboto, sans-serif;
}

app-root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.carousel {
  .mat-tab-header {
    .mat-tab-labels {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .mat-tab-label {
      min-width: unset;
      width: 100px;
      box-sizing: content-box;
      padding: 0;
      mat-icon {
        margin-right: 0.5rem;
      }
    }
    .mat-tab-label-content {
      line-height: 0; // fix
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  .mat-tab-group {
    height: 100%;
  }
  .mat-tab-body-wrapper {
    height: 100%;
  }
}

//.carousel {
//  .mat-tab-header {
//    .mat-tab-labels {
//      justify-content: center;
//      align-items: center;
//    }
//    .mat-tab-label {
//      min-width: unset;
//      border-radius: 50%;
//      padding: 0;
//      height: 8px;
//      width: 8px;
//      margin: 0 4px;
//      background-color: rgba(0,0,0,.66) !important;
//      &:focus {
//        background-color: rgba(0,0,0,.66) !important;
//      }
//    }
//    .mat-tab-label-active {
//      background-color: rgba(0,0,0,.87) !important;
//      height: 10px;
//      width: 10px;
//      margin: 0 3px;
//    }
//
//    .mat-ripple-element {
//      display: none;
//    }
//    border: none;
//    margin-bottom: 1rem;
//  }
//  mat-ink-bar {
//    display: none;
//  }
//}

// Fix search input length
.search {
  .mat-input-infix {
    width: auto;
  }
}

@media screen and (min-width: 599px) {
  .a3 .controls .back {
    display: none;
  }
}

@media screen and (min-width: 959px) {
  .a3 .controls .back {
    display: block;
  }
  .a2 .controls .back {
    display: none;
  }
  .player .back {
    visibility: hidden;
  }
}

@media screen and (min-width: 1319px) {
  .a3 .controls .back {
    display: none;
  }
}


