@import '~@angular/material/theming';

@mixin app-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  @media screen and (max-width: 599px) {
    .carousel {
      .mat-tab-header {
        .mat-tab-label {
          background-color: mat-color($foreground, disabled) !important;
          &:focus {
            background-color: mat-color($foreground, text) !important;
          }
        }
        .mat-tab-label-active {
          background-color: mat-color($foreground, text) !important;
        }
      }
    }
  }
}
