$my-theme-warn: mat-palette($mat-deep-orange, A200);

$light-theme: mat-light-theme(
    mat-palette($mat-blue),
    mat-palette($mat-orange),
    $my-theme-warn
);

$dark-theme: mat-dark-theme(
    mat-palette($mat-light-green),
    mat-palette($mat-light-blue),
    $my-theme-warn
)
