.controls .controls-meta {
  left: calc(40px + 1.5rem);
  width: calc(100% - 120px - 2rem);
}

@media screen and (min-width: 599px){

}

@media screen and (min-width: 959px){
  .controls .controls-meta {
    left: 1rem;
    width: calc(100% - 80px - 1.5rem);
  }
}

@media screen and (min-width: 1319px){

}
