<h3 mat-dialog-title>Details of "{{ data.track.metadata.title }}"</h3>
<div mat-dialog-content>
  <mat-grid-list cols="2" rowHeight="fit" gutterSize="1rem">
    <mat-grid-tile [colspan]="2">
      <mat-form-field>
        <input matInput placeholder="Title" [(ngModel)]="data.track.metadata.title" spellcheck="false" disabled>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="Artist(s)" [(ngModel)]="data.track.metadata.artist" spellcheck="false" disabled>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="Album" [(ngModel)]="data.track.metadata.album" spellcheck="false" disabled>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="Album Artist" [(ngModel)]="data.track.metadata.albumArtist" spellcheck="false" disabled>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="Year" [(ngModel)]="data.track.metadata.year" disabled>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <mat-form-field>
        <input class="location" matInput placeholder="Location" disabled [value]="data.track.metadata.location">
        <button mat-button matSuffix mat-icon-button (click)="download()">
          <mat-icon>file_download</mat-icon>
        </button>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Ok</button>
  <!--<button mat-button (click)="cancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.track">Save</button>-->
</div>
