<!--<h1 mat-dialog-title>Details</h1>-->
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Title" [(ngModel)]="data.track.metadata.title">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Album" [(ngModel)]="data.track.metadata.album">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Artists" [(ngModel)]="data.track.metadata.artist">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Album Artist" [(ngModel)]="data.track.metadata.artist">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Year" [(ngModel)]="data.track.metadata.artist">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Location" disabled [value]="data.track.metadata.location">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.track" >Save</button>
</div>
